.main
  .header
    .header__title
      group name
      .header__membre--list
        Member 
    .header__edit--btn
      Edit

  .contents
    .contents__top
      .contents__top__name
        shouya
      .contents__top__date
        2019/11/24
    .contents__top__message
      this is a first message
  .form
    .input-box
      = form_for ("#") do |f|
        = f.text_field :content, class: 'message_content', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon 'far', 'image'
          = f.file_field :image, class: 'input-box__image--heid'
        = f.submit 'Send', class: 'submit-btn'