.side_bar
  .header__left
    .header__left__title
      = current_user.name
    .header__left__logo__left
      = link_to "#", class: "contents__btn" do
        = icon('fas', 'edit')
    .header__left__logo__rigth
      = link_to edit_user_path(current_user) do
        = fa_icon 'cog', class: 'icon'

  .header__leftcontents
    .header__leftcontents__top
      .header__leftcontents__top1
        test
      .header__leftcontents__top2
        "まだメッセージはありません" 
    .header__leftcontents__main
      .header__leftcontents__main1
        test 
      .header__leftcontents__main2
        "まだメッセージはありません" 

  