.side_bar
  .header__left
    .header__left__title
      = current_user.name
    .header__left__logo__left
      = link_to new_group_path do
        = icon('fas', 'edit')
    .header__left__logo__rigth
      = link_to edit_user_path(current_user) do
        = icon('fa', 'cog',class: 'icon')

  .header__leftcontents
    - current_user.groups.each do |group|
      .header__leftcontents__top
        = link_to group_messages_path(group) do
        .header__leftcontents__top--top1
          = group.name
        .header__leftcontents__top--top2
          = group.show_last_message
    

  