.wrapper
  = render partial: "shared/side_bar"
  .main
    .header
      .header__title
        = link_to group_messages_path(@group) do
          = @group.name
        .header__membre--list
          %ul
            Member:
            %li 
              - @group.users.each do |user|
                = user[:name]
              
      .header__edit--btn
        = link_to edit_group_path(@group) do
          Edit
    .contents
      = render @messages
    .form
      .input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'message_content', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon 'far', 'image'
            = f.file_field :image, class: 'input-box__image--heid'
          = f.submit 'Send', class: 'submit-btn'  